<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/swiper-3.4.2.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/babyKnow.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/swiper-3.4.2.min.js"></script>
</head>
<body>
<div class="container">
	<div class="wrap">
		<include file="Public/head_top" />
		<div class="head">
			<a href="__URL__/../Index/index">
				<img src="__PUBLIC__/image/logo.png">
			</a>
			<div class="search">
				<input type="" name="" placeholder="请在这里输入您要搜索的内容">
				<a href=""></a>
			</div>
			<img src="__PUBLIC__/image/home_fixed.png" alt="" id="fixed">
		</div>
		<include file="Public/head_nav" />
	</div>
	<div class="content">
		<div class="content_wrap">
			<div class="content_wrap_content" style="height:635px;">
				<div style="height:150px;text-align: center;padding-top: 150px">{$msg}</div>
				<div style="text-align: center;">
					<a href="__URL__/../{$url}" style=" width: 100px;background: #4dc1c1;display: inline-block;height: 30px;color: #ffffff;padding-top: 5px;border-radius: 5px;">{$button}</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="dibu">
		<ul class="guanggao">
				<li><a href="#">广告服务</a></li>
				<li style="border:1px solid #656565;height:10px"></li>
				<li><a href="#">食恪粉丝交流论坛流言版</a></li>
				<li style="border:1px solid #656565;height:10px"></li>
				<li><a href="#">关于我们</a></li>
				<li style="border:1px solid #656565;height:10px"></li>
				<li><a href="#">友情链接</a></li>
		</ul>
		<div class="shenming">copyright2009-29324</div>
	</div>
</div>
</body>

<script type="text/javascript">
	
</script>
</html>