<!--html头-->
{include file="Public/head_top" /}

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> <a href="/admin/Promotion/promotionList">促销分类</a>
    <span class="c-gray en">&gt;</span> <a href="/admin/Promotion/activityList?activity_id={$activity_id}">活动列表</a>
    <span class="c-gray en">&gt;</span> 参与活动列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form action="/admin/Promotion/activityStore" method="get">
        <div class="text-c">
            <input type="text" class="input-text" style="width:250px" placeholder="店铺名/优惠券名" id="keywords" name="keywords" value="{$where.keywords}">
            <input type="hidden"  id="activity_id" name="activity_id" value="{$activity_id}">
            <input type="hidden"  id="activity_list_id" name="activity_list_id" value="{$activity_list_id}">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div style="margin-top: 20px"></div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">参与活动列表</th>
        </tr>
        <tr class="text-c">
            <th width="10%" onclick="sort('Promotion/activityStore/activity_id/{$activity_id}/activity_list_id/{$activity_list_id}','id')">编号</th>
            <th width="45%" onclick="sort('Promotion/activityStore/activity_id/{$activity_id}/activity_list_id/{$activity_list_id}','store_name')">店铺</th>
            <th width="45%" onclick="sort('Promotion/activityStore/activity_id/{$activity_id}/activity_list_id/{$activity_list_id}','voucher_name')">优惠券名</th>
        </tr>
        </thead>
        <tbody>
        {volist name="activity_list" id="c"}
        <tr class="text-c">
            <!--<td><input type="checkbox" value="1" name=""></td>-->
            <td>{$c.id}</td>
            <td>{$c.store_name}</td>
            <td>{$c.voucher_name}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="pages">{$page}</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->
<input type="hidden" name="orderBy" id="orderBy" value="{$orderBy}">
<input type="hidden" name="orderByUpOrDown" id="orderByUpOrDown" value="{$orderByUpOrDown}">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin_file/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

</script>
</body>
</html>