<!--html头-->
{include file="Public/head_top" /}
<body>
<article class="page-container">
	{if $voucher_id}
	<form action="/admin/Promotion/goodsEdit" method="get">
		<div class="text-c">
			<input type="text" class="input-text" style="width:250px" placeholder="输入商铺名" id="keywords" name="keywords" value="{$where.keywords}">
			<input type="hidden" name="activity_list_id" id="activity_list_id" value="{$activity_list_id}">
			<input type="hidden" name="id" id="id" value="{$activityInfo.id}">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜商铺</button>
		</div>
	{else}
	<form action="/admin/Promotion/goodsAdd" method="get">
		<div class="text-c">
			<input type="text" class="input-text" style="width:250px" placeholder="输入商铺名" id="keywords" name="keywords" value="{$where.keywords}">
			<input type="hidden" name="activity_list_id" id="activity_list_id" value="{$activity_list_id}">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜商铺</button>
		</div>
	{/if}

	</form>
	<form class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">选择店铺：</label>
			<div class="formControls col-xs-8 col-sm-9" > <span class="select-box" style="width: 50%">
				<select class="select" name="store_id" id="store">
					<option value=" " >请选择店铺</option>
                    {volist name="store_list" id="store"}
					<option value="{$store.store_id}" onClick="getVoucher(this,{$store.store_id})" {if $activityInfo.store_id == $store.store_id}selected{/if} >{$store.store_name}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">选择抵用券：</label>
			<div class="formControls col-xs-8 col-sm-9" >
				<span class="select-box" style="width: 50%">
				<select class="select" name="voucher_id" id="voucher">
					{if $storeVoucher}
					{volist name="storeVoucher" id="voucher"}
					<option value="{$voucher.voucher_id}" {if $activityInfo.voucher_id == $voucher.voucher_id}selected{/if} >{$voucher.voucher_name}</option>
					{/volist}
					{/if}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$activityInfo.sort_order}" placeholder="" id="sort_order" name="sort_order">
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input type="hidden" name="id" id="id" value="{$activityInfo.id}">
				<input type="hidden" name="activity_list_id" id="activity_list_id" value="{$activity_list_id}">
				<input type="hidden" name="is_ajax" id="is_ajax" value="1">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<button onClick="window.history.back();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#store").change(function() {
            var id = $("#store").val();
            $.ajax({
                type: "POST",
                url: '/Admin/Promotion/getVoucher',
                data: {
                    store_id: id
                },
                dataType: "json",
                success: function (data) {
                    if (data.code == '1') {
                        data = data.data;
                        if(data.length>0){
                            var option  = '<option value="">请选择抵用券</option>';
                            for ( var i in data) {
                                option += '<option value="'+data[i].voucher_id+'">'
                                    + data[i].voucher_name + '</option>';
                            }
                            $("#voucher").append(option);
                        }
                    }
                }
            });
        });


        var activity_list_id = $("#activity_list_id").val();
        var id = $("#id").val();
        if(id){
            $("#form-admin-add").validate({
                rules:{
                    position_name:{
                        required:true
                    }
                },
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "/admin/Promotion/goodsEdit" ,
                        success: function(data){
                            if(data.code == 0){
                                layer.msg('更新失败,'+data.msg,{icon:2,time:2000});
                            }else if(data.code == 1){
                                layer.msg('更新成功!',{icon:1,time:2000});
                                window.location.href="/admin/Promotion/goodsList/activity_list_id/" +activity_list_id;
                            }else{
                                layer.msg('更新失败',{icon:4,time:2000});
                            }
                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:1,time:2000});
                        }
                    });
                }
            });
        }else{
            $("#form-admin-add").validate({
                rules:{
                    position_name:{
                        required:true
                    }
                },
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "/admin/Promotion/goodsAdd" ,
                        success: function(data){
                            if(data.code == 0){
                                layer.msg('添加失败,'+data.msg,{icon:2,time:2000});
                            }else if(data.code == 1){
                                layer.msg('添加成功!',{icon:1,time:2000});
                                window.location.href="/admin/Promotion/goodsList/activity_list_id/" +activity_list_id;
                            }else{
                                layer.msg('添加失败',{icon:4,time:2000});
                            }
                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:1,time:2000});
                        }
                    });
                }
            });
        }

    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>