<!--html头-->
{include file="Public/head_top" /}

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 促销管理
    <span class="c-gray en">&gt;</span> 附近优惠分类
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form action="/admin/Promotion/nearCategoryList" method="get">
        <div class="text-c">
            <input type="text" class="input-text" style="width:250px" placeholder="输入分类名称" id="keywords" name="keywords" value="{$where.keywords}">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        {in name="nearCategoryAdd" value=$action_code_list}
        <span class="l">
				<a href="/admin/Promotion/nearCategoryAdd" class="btn btn-primary radius">
					<i class="Hui-iconfont">&#xe600;</i> 添加分类
				</a>
			</span>
        {/in}
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="10">分类列表</th>
        </tr>
        <tr class="text-c">
            <th width="50" onclick="sort('Promotion/nearCategoryList','id')">序号</th>
            <th width="100" onclick="sort('Promotion/nearCategoryList','category_name')">分类</th>
            <th width="100" onclick="sort('Promotion/nearCategoryList','create_time')">创建时间</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="nearCategory" id="c"}
        <tr class="text-c">
            <td>{$c.id}</td>
            <td>{$c.category_name}</td>
            <td>{$c.create_time}</td>
            <td class="td-manage">
                {in name="nearCategoryDel" value=$action_code_list}
                <a title="删除" href="javascript:;" onclick="admin_del(this,{$c.id})" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6e2;</i>
                </a>
                {/in}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="pages">{$page}</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->
<input type="hidden" name="orderBy" id="orderBy" value="{$orderBy}">
<input type="hidden" name="orderByUpOrDown" id="orderByUpOrDown" value="{$orderByUpOrDown}">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin_file/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    /*广告-删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"/admin/Promotion/nearCategoryDel",
                data:{"id":id,"is_ajax":1},
                type:"POST",
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:2000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>