<!--html头-->
{include file="Public/head_top" /}
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">店铺名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$reserveConfig.store_name}" disabled="disabled" id="store_name" name="store_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">是否开启预约：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio" name="is_reserve" value="0" {if $reserveConfig.is_reserve eq 0}checked{/if}>否
                <input type="radio" name="is_reserve" value="1" {if $reserveConfig.is_reserve eq 1}checked{/if}>是
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">是否显示预约人数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio" name="is_number" value="0" {if $reserveConfig.is_number eq 0}checked{/if}>否
                <input type="radio" name="is_number" value="1" {if $reserveConfig.is_number eq 1}checked{/if}>是
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">上午开始时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'HH:mm:ss' })" class="input-text Wdate" value="{$reserveConfig.morning_start_time}" id="morning_start_time" name="morning_start_time">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">上午结束时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'HH:mm:ss' })" class="input-text Wdate" value="{$reserveConfig.morning_end_time}" id="morning_end_time" name="morning_end_time">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">下午开始时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'HH:mm:ss' })" class="input-text Wdate" value="{$reserveConfig.afternoon_start_time}" id="afternoon_start_time" name="afternoon_start_time">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">下午结束时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'HH:mm:ss' })" class="input-text Wdate" value="{$reserveConfig.afternoon_end_time}" id="afternoon_end_time" name="afternoon_end_time">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="hidden" name="store_id" id="store_id" value="{$store_id}">
                <input type="hidden" name="is_ajax" id="is_ajax" value="1">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <button onClick="window.history.back();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#form-admin-add").validate({
            rules:{
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/shop/Store/storeReserveConfig" ,
                    success: function(data){
                        if(data.code == 0){
                            layer.msg('更新失败,'+data.msg,{icon:2,time:2000});
                        }else if(data.code == 1){
                            layer.msg('更新成功!',{icon:1,time:2000});
                            window.location.href="/shop/Store/storeReserveConfig";
                        }else{
                            layer.msg('更新失败',{icon:4,time:2000});
                        }
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('error!',{icon:1,time:2000});
                    }
                });
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>