<!--html头-->
{include file="Public/head_top" /}

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 积分商城管理
    <span class="c-gray en">&gt;</span> 回收站列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form action="/admin/IntegralShop/recycleProductList" method="get">
        <div class="text-c">
            <input type="text" class="input-text" style="width:250px" placeholder="输入商品名称" id="keywords" name="keywords" value="{$where.keywords}">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜商品</button>
        </div>
    </form>
    <table class="table table-border table-bordered table-bg" style="margin-top: 20px">
        <thead>
        <tr>
            <th scope="col" colspan="9">回收站列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value="0"></th>
            <th width="50" onclick="sort('IntegralShop/recycleProductList','product_id')">序号</th>
            <th width="100" onclick="sort('IntegralShop/recycleProductList','pro_category_name')">分类</th>
            <th width="100" onclick="sort('IntegralShop/recycleProductList','pro_code')">商品编号</th>
            <th width="100" onclick="sort('IntegralShop/recycleProductList','pro_name')">商品名称</th>
            <th width="100" onclick="sort('IntegralShop/recycleProductList','pro_stock')">库存</th>
            <th width="150">商品图</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="product_list" id="c"}
        <tr class="text-c">
            <!--<td><input type="checkbox" value="1" name=""></td>-->
            <td><input type="checkbox" value="{$c.product_id}" name="product_id"></td>
            <td>{$c.product_id}</td>
            <td>{$c.pro_category_name}</td>
            <td>{$c.pro_code}</td>
            <td>{$c.pro_name}</td>
            <td>{$c.pro_stock}</td>
            <td><img src="{$c.pro_img}" style="width: 120px;height: 90px"></td>
            <td class="td-manage">
                {in name="productEdit" value=$action_code_list}
                <a title="还原" href="javascript:;" onclick="admin_edit(this,{$c.product_id})" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe66b;</i>
                </a>
                {/in}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="pages">{$page}</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->
<input type="hidden" name="orderBy" id="orderBy" value="{$orderBy}">
<input type="hidden" name="orderByUpOrDown" id="orderByUpOrDown" value="{$orderByUpOrDown}">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin_file/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*广告-删除*/
    function admin_edit(obj,id){
        layer.confirm('确认要还原吗？',function(index){
            $.ajax({
                url:"/admin/IntegralShop/recycleProductEdit",
                data:{"product_id":id,"is_ajax":1},
                type:"POST",
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已还原!',{icon:1,time:2000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>