<!--html头-->
{include file="Public/head_top" /}
<style>
  .row {
    width:100%;
  }

</style>

<link href="/admin_file/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />

<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" id="form-admin-login">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="user_name" name="user_name" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input class="input-text size-L" style="width:205px;" name="captcha" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" style="width:150px;">
          <img src="" id="newCode">
        </div>
      </div>
      <!--<div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <label for="online">
            <input type="checkbox" name="online" id="online" value="">
            使我保持登录状态</label>
        </div>
      </div>-->
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" style="width:175px" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" class="btn btn-default radius size-L" style="width:175px" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin v3.1</div>
<script type="text/javascript" src="/admin_file/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/admin_file/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/admin_file/lib/layer/2.4/layer.js"></script>
<!--此乃百度统计代码，请自行删除-->
<script>
  window.onload=function () {
      newCode();
  };
  document.getElementById("newCode").onclick = function () { newCode(); };
  function newCode() {
      var timestamp = Date.parse(new Date());
      document.getElementById("newCode").src = "/admin/Login/getCode?mm="+timestamp;
  }

  $(function () {
      $("#form-admin-login").validate({
          rules:{
              user_name:{
                  required:true
              },
              password:{
                  required:true
              }
          },
          onkeyup:false,
          focusCleanup:true,
          success:"valid",
          submitHandler:function(form){
              $(form).ajaxSubmit({
                  type: 'post',
                  url: "/admin/Login/login" ,
                  success: function(data){
                      if(data.code == 0){
                          var timestamp = Date.parse(new Date());
                          document.getElementById("newCode").src = "/admin/Login/getCode?mm="+timestamp;
                          layer.msg(data.msg,{icon:2,time:2000});
                      }else if(data.code == 1){
                          layer.msg('登录成功!',{icon:1,time:2000});
                          window.location.href="/admin/Index/index";
                      }else{
                          var timestamp = Date.parse(new Date());
                          document.getElementById("newCode").src = "/admin/Login/getCode?mm="+timestamp;
                          layer.msg(data.msg,{icon:4,time:2000});
                      }
                  },
                  error: function(XmlHttpRequest, textStatus, errorThrown){
                      var timestamp = Date.parse(new Date());
                      document.getElementById("newCode").src = "/admin/Login/getCode?mm="+timestamp;
                      layer.msg('error!',{icon:1,time:2000});
                  }
              });
          }
      });
  })

</script>
<!--/此乃百度统计代码，请自行删除
</body>
</html>