<!--html头-->
{include file="Public/head_top" /}
<body>
<article class="page-container">
    <form action="/admin/Store/storecredit/store_id/{$storeid}" method="post" class="form form-horizontal" id="form-pro-add" enctype="multipart/form-data" >
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">店铺原积分：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$reportinfo.store_credit}" name="credit_init">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">店铺现积分：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" name="credit_now">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">信用变动说明：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <textarea name="credit_desc" class="textarea"></textarea>
        </div>
    </div>
    <input type="hidden" name="is_ajax" id="is_ajax" value="1">
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            <button onClick="window.history.back();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $("#form-pro-add").validate({
            rules:{
                category_name:{
                    required:true
                },
                nav_id:{
                    required:true
                },
                parent_id:{
                    required:true
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                form.submit();
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>