<!--html头-->
{include file="Public/head_top" /}

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 店铺管理
    <span class="c-gray en">&gt;</span> 权益保障列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        {in name="protectAdd" value=$action_code_list}
        <span class="l">
				<a href="/admin/Store/protectAdd" class="btn btn-primary radius">
					<i class="Hui-iconfont">&#xe600;</i> 添加权益保障
				</a>
			</span>
        {/in}
    </div>
    <table class="table table-border table-bordered table-bg" style="margin-top: 20px">
        <thead>
        <tr>
            <th scope="col" colspan="9">权益保障列表</th>
        </tr>
        <tr class="text-c">
            <!--<th width="25"><input type="checkbox" name="" value="0"></th>-->
            <th width="150" onclick="sort('Store/protectList','id')">序号</th>
            <th width="150" onclick="sort('Store/protectList','protect_name')">权益保障的名称</th>
            <th width="150" onclick="sort('Store/protectList','protect_desc')">权益保障说明</th>
            <th width="50" onclick="sort('Store/protectList','sort_order')">排序</th>
            <th width="50" onclick="sort('Store/protectList','disabled')">是否有效</th>
            <th width="150">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="protectList" id="c"}
        <tr class="text-c">
            <td>{$c.id}</td>
            <td>{$c.protect_name}</td>
            <td>{$c.protect_desc}</td>
            <td>{$c.sort_order}</td>
            {if condition="$c.disabled eq 1"}
            <td class="td-status"><span class="label label-success radius">已启用</span></td>
            {else}
            <td class="td-status"><span class="label label-default radius">已禁用</span></td>
            {/if}
            <td class="td-manage">
                {if condition="$c.disabled eq 1"}
                <a style="text-decoration:none" onClick="admin_stop(this,{$c.id})" href="javascript:;" title="停用">
                    <i class="Hui-iconfont">&#xe631;</i>
                </a>
                {else}
                <a style="text-decoration:none" onClick="admin_start(this,{$c.id})" href="javascript:;" title="启用">
                    <i class="Hui-iconfont">&#xe615;</i>
                </a>
                {/if}
                {in name="protectEdit" value=$action_code_list}
                <a title="编辑" href="/admin/Store/protectEdit/id/{$c.id}" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6df;</i>
                </a>
                {/in}
                {in name="protectDel" value=$action_code_list}
                <a title="删除" href="javascript:;" onclick="admin_del(this,{$c.id})" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6e2;</i>
                </a>
                {/in}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="pages">{$page}</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->
<input type="hidden" name="orderBy" id="orderBy" value="{$orderBy}">
<input type="hidden" name="orderByUpOrDown" id="orderByUpOrDown" value="{$orderByUpOrDown}">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin_file/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"/admin/Store/protectDel",
                data:{"id":id,"is_ajax":1},
                type:"POST",
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:2000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*广告-停用*/
    function admin_stop(obj,id){
        layer.confirm('确认要禁用吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:"/admin/Store/protectEdit",
                data:{"id":id,"disabled":0,"is_ajax":1},
                type:"POST",
                success:function(data){
                    if(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,'+id+')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
                        $(obj).remove();
                        layer.msg('已停用!',{icon: 6,time:2000});
                    }else{
                        layer.msg('停用失败!',{icon: 5,time:2000});
                    }

                }
            })

        });
    }

    /*广告-启用*/
    function admin_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url:"/admin/Store/protectEdit",
                data:{"id":id,"disabled":1,"is_ajax":1},
                type:"POST",
                success:function(data){
                    if(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,'+id+')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!', {icon: 6,time:2000});
                    }else{
                        layer.msg('启用失败!', {icon: 5,time:2000});
                    }
                }
            })

        });
    }
</script>
</body>
</html>