<!--html头-->
{include file="Public/head_top" /}

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 店铺管理
    <span class="c-gray en">&gt;</span> 预约列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form action="/admin/Store/reserveList" method="get">
        <div class="text-c">
            预约状态:
            <span class="select-box inline">
                <select name="reserve_state" class="select" id="reserve_state" value="{$where.reserve_state}">
                    <option value="0" >请选择</option>
                    <option value="R01" {if $where.reserve_state === R01}selected{/if}>待确认</option>
                    <option value="R02" {if $where.reserve_state === R02}selected{/if}>成功</option>
                    <option value="R03" {if $where.reserve_state === R03}selected{/if}>拒绝</option>
                    <option value="R04" {if $where.reserve_state === R04}selected{/if}>用户取消</option>
                </select>
            </span>
            <input type="text" class="input-text" style="width:250px" placeholder="店铺名称" id="store_name" name="store_name" value="{$where.store_name}">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>

    <table class="table table-border table-bordered table-bg" style="margin-top: 20px">
        <thead>
        <tr>
            <th scope="col" colspan="10">预约列表</th>
        </tr>
        <tr class="text-c">
            <!--<th width="25"><input type="checkbox" name="" value="0"></th>-->
            <th width="50" onclick="sort('Store/reserveList','id')">序号</th>
            <th width="50" onclick="sort('Store/reserveList','store_name')">店铺名</th>
            <th width="50" onclick="sort('Store/reserveList','number')">人数</th>
            <th width="50" onclick="sort('Store/reserveList','sex')">性别</th>
            <th width="50" onclick="sort('Store/reserveList','name')">称呼</th>
            <th width="50" onclick="sort('Store/reserveList','mobile')">手机号</th>
            <th width="50" onclick="sort('Store/reserveList','reserve_time')">开始时间</th>
            <th width="50" onclick="sort('Store/reserveList','store_back')">店铺回复</th>
            <th width="50" onclick="sort('Store/reserveList','cancel_reason')">取消原因</th>
            <th width="50" onclick="sort('Store/reserveList','reserve_state')">预约状态</th>
        </tr>
        </thead>
        <tbody>
        {volist name="reserveList" id="c"}
        <tr class="text-c">
            <td>{$c.id}</td>
            <td>{$c.store_name}</td>
            <td>{$c.number}</td>
            {if condition="$c.sex eq 1"}<td>男</td>{else}<td>女</td>{/if}
            <td>{$c.name}</td>
            <td>{$c.mobile}</td>
            <td>{$c.reserve_time}</td>
            <td>{$c.store_back}</td>
            <td>{$c.cancel_reason}</td>
            {if condition="$c.reserve_state == R01"}
            <td class="td-status"><span class="label label-success radius">待确认</span></td>
            {elseif condition="$c.reserve_state == R02"}
            <td class="td-status"><span class="label label-default radius">成功</span></td>
            {elseif condition="$c.reserve_state == R03"}
            <td class="td-status"><span class="label label-default radius">拒绝</span></td>
            {else}
            <td class="td-status"><span class="label label-default radius">用户取消</span></td>
            {/if}
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div class="pages">{$page}</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->
<input type="hidden" name="orderBy" id="orderBy" value="{$orderBy}">
<input type="hidden" name="orderByUpOrDown" id="orderByUpOrDown" value="{$orderByUpOrDown}">
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin_file/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

</script>
</body>
</html>