<!--html头-->
{include file="Public/head_top" /}


<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">选择行业：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width: 50%">
				<select class="select" name="nav_id">
					<option value=" " >请选择行业</option>
                    {volist name="navList" id="nav"}
					<option value="{$nav.nav_id}" {if $storeConfig.nav_id == $nav.nav_id}selected{/if}>{$nav.nav_name}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">店铺访问量占比：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$storeConfig.browse_num}" placeholder="" id="browse_num" name="browse_num"> 单位 / %
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">线上订单占比：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$storeConfig.valid_order}" placeholder="" id="valid_order" name="valid_order"> 单位 / %
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">线下订单占比：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$storeConfig.offline_order}" placeholder="" id="offline_order" name="offline_order"> 单位 / %
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"></label>
			<div class="formControls col-xs-8 col-sm-9">
				<span style="color: red">注 : 各项相加总占比为100%</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">店铺访问量基准值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$storeConfig.browse_num_max}" disabled="disabled">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">线上订单基准值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$storeConfig.valid_order_max}" disabled="disabled">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">线下订单基准值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$storeConfig.offline_order_max}" disabled="disabled">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input type="hidden" name="id" id="id" value="{$storeConfig.id}">
				<input type="hidden" name="is_ajax" id="is_ajax" value="1">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<button onClick="window.history.back();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/admin_file/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        var id = $("#id").val();
        if(id){
            $("#form-admin-add").validate({
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    var num = parseFloat($("#browse_num").val())+parseFloat($("#offline_order").val())+parseFloat($("#valid_order").val());
                    if(num!=100){
                        layer.msg('占比总和必须为100%',{icon:4,time:2000});
                        return false;
					}
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "/admin/Store/storeHotConfigEdit" ,
                        success: function(data){
                            if(data.code == 0){
                                layer.msg('编辑失败,'+data.msg,{icon:2,time:2000});
                            }else if(data.code == 1){
                                layer.msg('编辑成功!',{icon:1,time:2000});
                                window.location.href="/admin/Store/storeHotConfig";
                            }else{
                                layer.msg('编辑失败',{icon:4,time:2000});
                            }
                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:1,time:2000});
                        }
                    });
                }
            });
        }else{
            $("#form-admin-add").validate({
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    var num = parseFloat($("#browse_num").val())+parseFloat($("#offline_order").val())+parseFloat($("#valid_order").val());
                    if(num!=100){
                        layer.msg('占比总和必须为100%',{icon:4,time:2000});
                        return false;
                    }
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "/admin/Store/storeHotConfigAdd" ,
                        success: function(data){
                            if(data.code == 0){
                                layer.msg('添加失败,'+data.msg,{icon:2,time:2000});
                            }else if(data.code == 1){
                                layer.msg('添加成功!',{icon:1,time:2000});
                                window.location.href="/admin/Store/storeHotConfig";
                            }else{
                                layer.msg('添加失败',{icon:4,time:2000});
                            }
                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:1,time:2000});
                        }
                    });
                }
            });
        }
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>