<!--html头-->
{include file="Public/head_top" /}

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 店铺管理
    <span class="c-gray en">&gt;</span> 店铺统计订单列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form action="/shop/Order/storeOrderList" method="get">
        <div class="text-c">
            行业:
            <span class="select-box inline">
                <select name="navshow" class="select" id="navshow">
                    <option value="0">请选择</option>
                    {volist name='navlist' id='f'}
                        <option value="{$f.nav_id}">{$f.nav_name}</option>
                    {/volist}
                </select>
            </span>
            <input type="text" class="input-text" style="width:250px" placeholder="输入店铺名称" id="keywords" name="keywords" value="{$where.keywords}">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜店铺</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20" style="height: 20px;">
        <span class="r">共有数据：<strong>{$pronum}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="40" onclick="sort('Order/storeOrderList','u.store_id')">店铺id</th>
            <th width="80" onclick="sort('Order/storeOrderList','store_name')">店铺名称</th>
            <th width="80" onclick="sort('Order/storeOrderList','nav_name')">行业</th>
            <th width="60" >可提现金额</th>
            <th width="60" >冻结金额</th>
            <th width="60" onclick="sort('Order/storeOrderList','offline_order')">线下买单数</th>
            <th width="60" onclick="sort('Order/storeOrderList','offline_order_price')">线下营业额</th>
            <th width="60" onclick="sort('Order/storeOrderList','valid_order')">商品订单数</th>
            <th width="60" onclick="sort('Order/storeOrderList','valid_order_price')">商品总金额</th>
            <th width="60"  onclick="sort('Order/storeOrderList','store_score')">店铺返积分总额</th>
            <th width="60"  onclick="sort('Order/storeOrderList','coupons_price')" >店铺补贴总金额</th>
            <th width="40">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="storelist" id="c"}
        <tr class="text-c">
            <td>{$c.store_id}</td>
            <td>
                <a style="text-decoration:none" class="ml-5" href="/shop/Order/storeOrderInfo/store_id/{$c.store_id}" title="查看店铺交易详情">
                    {$c.store_name}
                </a>
            </td>
            <td>{$c.nav_name}</td>
            <td>{$c.unfreeze_price}元</td>
            <td>{$c.freeze_price}元</td>
            <td>{$c.offline_order}单</td>
            <td>{$c.offline_order_price}元</td>
            <td>{$c.valid_order}单</td>
            <td>{$c.valid_order_price}元</td>
            <td>{$c.store_score}积分</td>
            <td>{$c.coupons_price}元</td>
            <td class="td-manage">
                <a style="text-decoration:none" class="ml-5" href="/shop/Order/storeOrderInfo/store_id/{$c.store_id}" title="查看店铺交易详情">
                    <i class="Hui-iconfont">&#xe725;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div style="margin-top: 10px;padding-left: 5px;padding-right: 5px;">
        每页显示
        <input type="number" id="show_count" onchange="changeCount('Order/storeOrderList',$(this).val())" class="input-text" style="width: 50px;margin-left: 5px;margin-right: 5px;" value="{$show_count}">条
    </div>
</div>
<div class="pages">{$page}</div>
<input type="hidden" name="orderBy" id="orderBy" value="{$orderBy}">
<input type="hidden" name="orderByUpOrDown" id="orderByUpOrDown" value="{$orderByUpOrDown}">
</div>
<!--_footer 作为公共模版分离出去-->
{include file="Public/foot_js" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/admin_file/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/admin_file/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin_file/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*搜多框值返回*/
    $("#navshow").val('{$where.navshow}').attr("selected",true);
</script>
</body>
</html>